@font-face {
  font-family: pixelated;
  src: url(../assets/fonts/PressStart2P-Regular.ttf);
}

.health_cont {
  position: relative;
  width: 360px;
  height: 30px;
  background-color: white;
  display: flex;
  border-radius: 15px;
}

#health_curr {
  position: absolute;
  display: flex;
  width: 100px;
  height: inherit;
  background-color: green;
  border-radius: 15px;
  transition: width 0.5s ease-out;
  color: black;
  font-family: pixelated;
  align-items: center;
  justify-content: center;
}

#health_text {
}