@font-face {
  font-family: header;
  src: url(../assets/fonts/31_War\ Machine.ttf);
}

@font-face {
  font-family: subtitle;
  src: url(../assets/fonts/10_gremlins.ttf);
}

#BasicAtkC1 {
  position: absolute;
  top: 120px;
  left: 950px;
  width: 0;
  height: 0;
}

#BasicAtkC2 {
  position: absolute;
  top: 120px;
  left: 300px;
  width: 0;
  height: 0;
}

#CritAtkC1 {
  position: absolute;
  top: 290px;
  left: 950px;
  width: 0;
  height: 0;
}

#CritAtkC2 {
  position: absolute;
  top: 300px;
  left: 350px;
  width: 0;
  height: 0;
}

#PunchC1 {
  position: absolute;
  top: 290px;
  left: 950px;
  width: 0;
  height: 0;  
}

#PunchC2 {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 0;
  height: 0;  
}

#SelfCareC1 {
  position: absolute;
  top: 300px;
  left: 280px;
  width: 0;
  height: 0;
}

#SelfCareC2 {
  position: absolute;
  top: 300px;
  left: 940px;
  width: 0;
  height: 0;
}

#DStrikeC1 {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 0;
  height: 0;
}

#DStrikeC2 {
  position: absolute;
  top: 180px;
  left: 930px;
  width: 0;
  height: 0;
}

#HardenC1 {
  position: absolute;
  top: 260px;
  left: 290px;
  width: 0;
  height: 0;
}

#HardenC2 {
  position: absolute;
  top: 260px;
  left: 950px;
  width: 0;
  height: 0;
}

#ZuccC1 {
  position: absolute;
  top: 260px;
  left: 290px;
  width: 0;
  height: 0;
}

#ZuccC2 {
  position: absolute;
  top: 260px;
  left: 950px;
  width: 0;
  height: 0;
}

#DiceC1 {
  position: absolute;
  top: 175px;
  left: 50px;
  width: 0;
  height: 0;
}

#DiceC2 {
  position: absolute;
  top: 175px;
  left: 1325px;
  width: 0;
  height: 0;
}

#DiceCountC1 {
  position: absolute;
  top: 175px;
  left: 50px;
  width: 150px;
  height: 150px;
  z-index: 1;
}

#DiceCountC2 {
  position: absolute;
  top: 175px;
  left: 1325px;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.mid_text {
  position: absolute;
  font-family: subtitle;
  font-size: 2em;
  color: white;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: 2;
}